@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Stack+Sans+Text:wght@200..700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background-color: #dcdcdc6a;
    font-family: "Montserrat", sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#container h1{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#display{
    font-size: 40px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgba(0, 0, 0, 0.988);
    margin-bottom: 25px;
    background-color: rgb(223, 223, 223);
    padding: 10px 45px;
    border-radius: 10px;
}
#buttons button{
    font-size: 24px;
    font-weight:  bold;
    padding: 10px 0;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

#start{
    background-color: rgb(24, 209, 61);
    font-family: "Outfit", sans-serif;

}
#start:hover{
    background-color: rgb(26, 255, 0);
}

#stopTime{
    background-color: rgb(205, 36, 36);
    font-family: "Outfit", sans-serif;

}
#stopTime:hover{
    background-color: rgb(255, 1, 1);;
}

#reset{
    background-color: rgb(35, 193, 185);
    font-family: "Outfit", sans-serif;

}
#reset:hover{
    background-color: rgb(39, 219, 239);;
}
